<footer>
    <div class="container">
        <div class="top-footer">
           <div class="row">
               <div class="col-md-6">
                   <div class="social-bottom">
                       <span>Follow us:</span>
                       <ul>
                           <li><a href="#" class="fa fa-facebook"></a></li>
                           <li><a href="#" class="fa fa-twitter"></a></li>
                           <li><a href="#" class="fa fa-instagram"></a></li>
                       </ul>
                   </div>
               </div>
           </div>
        </div>
        <div class="main-footer">
            <p>Copyright © 2084 <a href="#">Your Company Name</a> | Design: <a href="http://www.templatemo.com" title="free templates">templatemo</a></p>
        </div>
    </div>
</footer>