@using ViaYou.Web.Resources
<div class="row">
    <div class="col-sm-6 padding-right col-sm-offset-4">
        <div class="features_items">
            <!--features_items-->
            <div class="page-header">
                <h1 class="text-center"><small>@ResourceLanguage.Label_Index_Message_Header</small></h1>
            </div>
            <h2 class="title text-center">@ResourceLanguage.Label_Message_Find_Connection</h2>
            
        </div>
    </div>
</div>
