.body-background {
    background-image: url("../../Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*.container-update {
    margin-right: 5%;
    margin-left: 5%;
}*/

